


    <body>
 
      <p>Quiz : el juego de las preguntas</p>
      <form method="get" action="/quizes/author">
      <%= creditos%> <p>
        
          <iframe  src="https://www.youtube.com/embed/0yMKYglufG0" style="
    
    
    margin-left:-70%;
    
    width: 200px;
    height: 150px;

"   frameborder="0" 
    allowfullscreen>
      
    </iframe> 
     <h1
     style="
  margin-top: -10%;" ><strong>Este es Luis :</strong>
    <img class="centering"  src="https://media.licdn.com/mpr/mpr/shrink_500_500/p/8/005/066/0c2/170ac1d.jpg"
    style="
    width:40px;
    display: left;
    height=50px 
    "></h1>
      <h1 class="marta"><strong>Esta es Marta:</strong>
    <img class="centering"  src="https://media.licdn.com/media/p/8/005/0b6/3c4/3a29c49.jpg"
    style="width:40px;
    display: rigth;
    height=50px

    ">
</h1>
       </form>
    </body>

